@model VideoViewModel
@{
    ViewBag.Title = "Details";
    
}
<body>
    <div>ID: @Model.Id</div>
    <div>Title: @Model.Title</div>
    <div>Gener: @Model.Genre</div>
    <br />
    @Html.ActionLink("Home", "Index")
</body>
@section footer{
    <div>This is the Details Footer</div>
}

