@model VideoStoreNew.ViewModels.VideoViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Video</title>
</head>
<body>
    <div>ID: @Model.Id</div>
    <div>Title: @Model.Title</div>
    <div>Gener: @Model.Genre</div>
    <br />
    @Html.ActionLink("Home","Index")
</body>
</html>

